<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <trace autoflush="true" indentsize="3">
      <listeners>
        <remove name="Default"/>
        <add name="ConsoleListener" type="System.Diagnostics.ConsoleTraceListener"/>
        <add name="TraceLogListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="Trace.log"/>
      </listeners>
    </trace>
  </system.diagnostics>
  <connectionStrings>
    <clear/>
  </connectionStrings>
  <appSettings>
    <add key="Left" value=""/>
    <add key="Top" value=""/>
    <add key="Opacity" value="1"/>
    <add key="Scale" value="1"/>
    <add key="Topmost" value="True"/>
    <add key="ShowInTaskbar" value="True"/>
    <add key="DropShadow" value="False"/>
    <add key="FontFamily" value="Segoe UI"/>
    <add key="FontSize" value="9pt"/>
    <add key="FontStretch" value="Normal"/>
    <add key="FontStyle" value="Normal"/>
    <add key="FontWeight" value="Regular"/>
    <add key="LineLength" value="192"/>
    <add key="LineHeight" value="26"/>
    <add key="BackgroundColor" value="#FFFFFFFF"/>
    <add key="TextColor" value="#FF000000"/>
    <add key="LinkColor" value="#FF0078D4"/>
    <add key="Mute" value="False"/>
    <add key="FrameRate" value="60"/>
    <add key="PollingInterval" value="00:00:10"/>
    <add key="UpdateInterval" value="00:15:00"/>
    <add key="ActivateThreshold" value="300000000"/>
    <add key="Timeout" value="30000"/>
    <add key="UserAgent" value="Apricot/9.0"/>
    <add key="Cache" value="Cache\"/>
    <add key="Words" value="Words.xml"/>
    <add key="Characters" value="Characters.xml"/>
    <add key="Sources" value="Sources.xml"/>
    <add key="Extensions" value="Extensions\"/>
  </appSettings>
</configuration>