<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="microsoft.scripting" type="Microsoft.Scripting.Hosting.Configuration.Section, Microsoft.Scripting, Version=1.1.0.20, Culture=neutral, PublicKeyToken=7f709c5b713576e1" requirePermission="false" />
  </configSections>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <microsoft.scripting>
    <languages>
      <language names="IronPython;Python;py" extensions=".py" displayName="IronPython 2.7" type="IronPython.Runtime.PythonContext, IronPython, Version=2.7.5.0, Culture=neutral, PublicKeyToken=7f709c5b713576e1" />
      <language names="IronRuby;Ruby;rb" extensions=".rb" displayName="IronRuby" type="IronRuby.Runtime.RubyContext, IronRuby, Version=1.1.3.0, Culture=neutral, PublicKeyToken=7f709c5b713576e1" />
    </languages>
    <options>
      <set language="Ruby" option="StandardLibrary" value="..\..\Languages\Ruby\StdLib"/>
    </options>
  </microsoft.scripting>
  <system.diagnostics>
    <trace autoflush="true" indentsize="3">
      <listeners>
        <remove name="Default" />
        <add name="ConsoleListener" type="System.Diagnostics.ConsoleTraceListener" />
        <add name="TraceLogListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="Trace.log" />
      </listeners>
    </trace>
  </system.diagnostics>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe" />
      <add name="SQL Server Compact Edition Client Data Provider" invariant="System.Data.SqlServerCe" description=".NET Framework Data Provider for Microsoft SQL Server Compact Edition Client" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <clear />
    <add name="SQL Server Compact Edition Client Data Provider" providerName="System.Data.SqlServerCe" connectionString="Data Source=|DataDirectory|\MyStorage.sdf"/>
  </connectionStrings>
  <appSettings>
    <add key="Left" value="" />
    <add key="Top" value="" />
    <add key="Opacity" value="1" />
    <add key="Scale" value="1" />
    <add key="Topmost" value="True" />
    <add key="ShowInTaskbar" value="True" />
    <add key="DropShadow" value="False" />
    <add key="FontFamily" value="Segoe UI" />
    <add key="FontSize" value="9pt" />
    <add key="FontStretch" value="Normal" />
    <add key="FontStyle" value="Normal" />
    <add key="FontWeight" value="Regular" />
    <add key="LineLength" value="192" />
    <add key="LineHeight" value="26" />
    <add key="BackgroundColor" value="#FFFBFBFB" />
    <add key="BackgroundImage" value="Assets\Background-Snow.png" />
    <add key="TextColor" value="#FF000000" />
    <add key="LinkColor" value="#FF00A0E9" />
    <add key="Mute" value="False" />
    <add key="FrameRate" value="60" />
    <add key="PollingInterval" value="00:00:10" />
    <add key="UpdateInterval" value="00:15:00" />
    <add key="ActivateThreshold" value="300000000" />
    <add key="Timeout" value="30000" />
    <add key="UserAgent" value="Apricot/7.7" />
    <add key="Cache" value="Cache\" />
    <add key="Subscriptions" value="Subscriptions.opml" />
    <add key="Words" value="Words.xml" />
    <add key="Characters" value="Characters.xml" />
    <add key="Scripts" value="Scripts\" />
  </appSettings>
</configuration>