name: .NET

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v6
    - name: Setup dotnet
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 10.0.x
    - name: Restore dependencies
      run: dotnet restore Windows
    - name: Build
      run: dotnet build Windows/Apricot/Apricot.csproj --no-restore --configuration Release
#    - name: Test
#      run: dotnet test Windows/Apricot/Apricot.csproj --no-build --verbosity normal
    - name: Publish
      run: dotnet publish Windows/Apricot/Apricot.csproj --configuration Release --framework net10.0-windows10.0.22000.0 --output Windows/Apricot/bin/Release/net10.0-windows10.0.22000.0/win10-x64/publish/ --runtime win10-x64 --property:PublishReadyToRun=true
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v4
      with:
        name: Apricot-win-x64
        path: Windows/Apricot/bin/Release/net10.0-windows10.0.22000.0/win10-x64/publish/
        retention-days: 30
